* {
    margin: 0;
    padding: 0;
}
.header {
    background-image: url(../sources/img/football_1920.jpg);
    background-size: cover;
    &-buttons {
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
        justify-content: center;
    }
    &-btn {
        width: 20%;
        padding: 12px 20px;
        margin: 0 10px;
    }
    &-title{
        font-size: 4vw;
    &-text {
        padding-left: 20%;

        }
    }
}
.container {
    &-header {
        padding-left: 55%;
    }
    &-picture {
        top: 0px;
        left: 10%;
        height: 500px;
        &-basket {   
            top: 613px;
        
        }
    }
    &-section{
        &-athlets {
        padding-left: 55%;
        }
        &-basket {
            padding-right: 55%;
        }
        

    }
}
.second-container {
    &-section {
        margin-top: 0 !important;
        display: grid;
        grid-template-columns: 1fr minmax(50vw, 1fr);
        grid-template-rows: 1fr;
        &:nth-child(even){
            & picture {
                grid-column: 2/3;
            }
            & figure {
                grid-column: 1/2;
                grid-row: 1/2;
            }        
            & span {
                left: 103%;
            }
    }
    &-body {
        display: flex;
        flex-direction: column;
    
        padding:0 10%;

        & > span { 
            align-self: flex-start;
            right: 22%;
            top:25%;
            
        }
        
    }
    
}
   
    
}
.footer {
    background-image: url(../sources/img/game_1920.jpg); 
    margin-top: 0%;
    &-title {
         font-size: 2.5vw;
      }
      &-header {
        
        flex-direction: row;
      }
      &-surface-icon {
          margin: 2% 10px 0 0;
      }
}